<!DOCTYPE html>

<link rel="stylesheet" href="/assets/stylessss.css" />

<title>La mia applicazione</title>
  <!-- Intestazione principale -->
  <header>
    <h2>Private Library</h2>
    <div class="image">  </div>
    <img src="/assets/images/libri2.jpg" style="width:25%">
    
    <div class="navigation">
      <a href="home">Home</a>
      <a href="searchB">Cerca un libro</a>
      <a href="add">Aggiungi un libro</a>
      <a href="register">Registrati</a>
      <a href="login">Login</a>
    </div> 
    
   
    
  </header>
  <br/>
  <div>



  {% block body %} {% endblock %}

   